<!-- 
Linguagem de programação WEB
Sistemas de Informação
CEULP ULBRA
Santhiago Dionizio Pinto
santhiagosdp@gmail.com
-->
	<div class="row">       	
        <center>
            <div class="col-md-11">     
    <script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 3000
        })
    });
</script>
             
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- carrehar fotos -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="\TCD-lpWeb\imagens\home.png" height="900" width="500">
                <div class="carousel-caption"> </div>
             
    </div>

    <div class="item">
      <img src="\TCD-lpWeb\imagens\slid1.jpg" height="900" width="500">
                <div class="carousel-caption"> </div>
    </div>

    <div class="item">
      <img src="\TCD-lpWeb\imagens\slid2.jpg"height="900" width="500">
                <div class="carousel-caption"> </div>
    </div>

    <div class="item">
      <img src="\TCD-lpWeb\imagens\slid3.jpg"height="900" width="500">
                <div class="carousel-caption"> </div>
    </div>
  </div>

  <!-- controles -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
                  
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
</div>                  
     
            </div>        
        </center>
        
         <below><left>
       
            <div class="col-md-1">          
                <a href="#/capa">
                    <span class="glyphicon glyphicon-user"></span>
                    sdp
                </a> 
            </div>        
        </left></below>
                
    </div>