<!-- 
Linguagem de programação WEB
Sistemas de Informação
CEULP ULBRA
Santhiago Dionizio Pinto
santhiagosdp@gmail.com
-->
<hr noshade></hr>
<h2>Vizualização da Receita</h2>
<div>
	 <div class="row">	
         
        <div class="col-md-3">
				<hr noshade></hr>
			<p><b><center>Tipo:</b> {{receita.tipo}}</center></p>
				<hr noshade></hr>
        </div>		
		
        <div class="col-md-3">
			<hr noshade></hr>          	
				<p><b><center>Nome:</b> {{receita.nome}}</center></p>
			<hr noshade></hr>
		</div>
		
		<div class="col-md-3">
			<hr noshade></hr>          
				<p><b><center>Tempo:</b> {{receita.tempo}}</center></p>	
			<hr noshade></hr>			
        </div>
		
		<div class="col-md-3">
			<hr noshade></hr>
				<p><b><center>Chefe:</b> {{receita.chefe}}</center></p>				
			<hr noshade></hr>			
        </div>	
    </div>
		
		<div class="row">	
			<div class="col-md-12">
				<div class="hero-unit">
                    <h1><center>Modo de Preparo</center></h1>
                        
                        <p><center>
                            {{receita.preparo}}
                        </center></p>
                </div>
                
			</div>
		</div>
	
	<hr noshade></hr>
	<hr noshade></hr>
	
	
</div>


















