<!-- 
Linguagem de programação WEB
Sistemas de Informação
CEULP ULBRA
Santhiago Dionizio Pinto
santhiagosdp@gmail.com
-->

<center><h2>Cadastro de Tipos de receitas</h2></center>

<div>
   <div class="row">  
          <div class="col-md-2"></div>
        <div class="col-md-4">
           <div class="form-group">
				<label for="nomeTipo">Nome do tipo de receita</label>
					<input  type="text" class="form-control" id="nomeTipo" ng-model="dado.nome" required>
			</div>
        </div> 

<div class="col-md-4">
    </br>
            <form class="form">    

                <div>
                    <button class="btn btn-primary" ng-click="salvar(dado)" type="button">
                            <span aria-hidden="true" class="glyphicon glyphicon-floppy-save"></span>
                            Salvar Tipo
                    </button>

                    <button class="btn btn-default" ng-click="cancelar()" type="button">
                        <span aria-hidden="true" class="glyphicon glyphicon-floppy-remove"></span>
                        Cancelar
                    </button>        
                </div>
            </form>
      </div>
  </div>
</div>

<hr noshade></hr>
<hr noshade></hr>

<h2><center>Atualização de Tipos de receitas</center></h2>

<div>
    
    <div class="row">  
        <div class="col-md-4"></div>
        
        <div class="col-md-4">
            
               <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome do Tipo</th>
                        <th>Opções</tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dado in tipos | filter:q | orderBy:nome"> 
                        <td>{{dado.id}}</td>
                        <td>{{dado.nome}}</td>			  
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="editar(dado.id)" type="button">
                                <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-danger btn-xs" ng-click="delete(dado, dado.id)" type="button">
                                <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                            </button>             
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- <div class="row">
	

        <div class="col-md-4">
            
            <label for="nome">Tipo da receita</label>
                <select class="form-control" ng-model="dado.tipo">
                    <option ng-repeat="tipo in tipos" value="{{tipo.id}}">{{tipo.nome}}</option>
                </select>
            </div>  
    
        <div class="col-md-4">
<br>
                    <button class="btn btn-default" ng-click="editar()" type="button">
                        <span aria-hidden="true" class="glyphicon glyphicon-edit"> Editar</span>
                    </button>
            
                    <button class="btn btn-danger" ng-click="delete()" type="button">
                        <span aria-hidden="true" class="glyphicon glyphicon-trash"> Deletar</span>
                    </button>

        </div>
    
    </div> -->
</div>










